.header-container {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  .logo {
    width: 100px;
  }
}
.nav-container > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-container > ul > li {
  padding: 0 10px;
  margin: 10px;
}
